*{
    margin: 0;
    padding: 0;

}

@media only screen and (min-width:1501px) {
#b-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.login{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c{
    width: 30%;
    height: 80%;
    background: linear-gradient(135deg, whitesmoke, rgb(109, 108, 108), rgb(48, 47, 47)) ;
    border-radius: 20px;
}


.signup{
  text-align: center;
  padding-top: 2rem;
}

.sp{
    width: 80%;
    font-size: 10px;
    margin-left: 10%;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#fom{
    width: 80%;
   margin: 10%;
}

.pl{
    font-size: 12px;
}

#name{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#email{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#but{
    width: 100%;
    font-size: 15px;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    margin-top: 2rem;
}

#but:hover{
font-size: 20px;
height: 2.2rem;
}

#su{
    font-size: 10px;
    margin-top: 1rem;
}
}


/* .............................................................. */



@media only screen and (min-width:1201px) and (max-width: 1500px) {
#b-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.login{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c{
    width: 35%;
    height: 80%;
    background: linear-gradient(135deg, whitesmoke, rgb(109, 108, 108), rgb(48, 47, 47)) ;
    border-radius: 20px;
}


.signup{
  text-align: center;
  padding-top: 2rem;
}

.sp{
    width: 80%;
    font-size: 10px;
    margin-left: 10%;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#fom{
    width: 80%;
   margin: 10%;
}

.pl{
    font-size: 12px;
}

#name{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#email{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#but{
    width: 100%;
    font-size: 15px;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    margin-top: 2rem;
}

#but:hover{
font-size: 20px;
height: 2.2rem;
}

#su{
    font-size: 10px;
    margin-top: 1rem;
}
}







/* .............................................................. */



@media only screen and (min-width:1025px) and (max-width: 1200px) {
#b-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.login{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c{
    width: 35%;
    height: 75%;
    background: linear-gradient(135deg, whitesmoke, rgb(109, 108, 108), rgb(48, 47, 47)) ;
    border-radius: 20px;
}


.signup{
  text-align: center;
  padding-top: 1.7rem;
}

.sp{
    width: 80%;
    font-size: 10px;
    margin-left: 10%;
    padding-top: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#fom{
    width: 80%;
   margin: 10%;
}

.pl{
    font-size: 12px;
}

#name{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#email{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#but{
    width: 100%;
    font-size: 14px;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    margin-top: 2rem;
}

#but:hover{
font-size: 18px;
height: 2.2rem;
}

#su{
    font-size: 10px;
    margin-top: 1rem;
}
}








/* .............................................................. */



@media only screen and (min-width:768px) and (max-width: 1024px) {
#b-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.login{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c{
    width: 55%;
    height: 75%;
    background: linear-gradient(135deg, whitesmoke, rgb(109, 108, 108), rgb(48, 47, 47)) ;
    border-radius: 20px;
}


.signup{
  text-align: center;
  padding-top: 1.5rem;
}

.sp{
    width: 80%;
    font-size: 10px;
    margin-left: 10%;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#fom{
    width: 80%;
   margin: 10%;
}

.pl{
    font-size: 12px;
}

#name{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#email{
    width: 100%;
    font-size: 10px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

#but{
    width: 100%;
    font-size: 13px;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    margin-top: 2rem;
}

#but:hover{
font-size: 17px;
height: 2.2rem;
}

#su{
    font-size: 10px;
    margin-top: 1rem;
}
}









/* ...................................................... */





@media only screen and (min-width:560px) and (max-width: 768px) {
#b-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.login{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c{
    width: 65%;
    height: 75%;
    background: linear-gradient(135deg, whitesmoke, rgb(109, 108, 108), rgb(48, 47, 47)) ;
    border-radius: 20px;
}


.signup{
  text-align: center;
  padding-top: 1.5rem;
}

.sp{
    width: 80%;
    font-size: 10px;
    margin-left: 10%;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#fom{
    width: 80%;
   margin: 10%;
}

.pl{
    font-size: 12px;
}

#name{
    width: 100%;
    font-size: 10px;
    height: 1.8rem;
    border: none;
    border-radius: 5px;
}

#email{
    width: 100%;
    font-size: 10px;
    height: 1.8rem;
    border: none;
    border-radius: 5px;
}

#but{
    width: 100%;
    font-size: 13px;
    height: 1.8rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    margin-top: 2rem;
}

#but:hover{
font-size: 16px;
height: 2rem;
}

#su{
    font-size: 10px;
    margin-top: 1rem;
}
}










/* ................................................ */




@media only screen and (min-width:300px) and (max-width: 559px) {
#b-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.login{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c{
    width: 85%;
    height: 70%;
    background: linear-gradient(135deg, whitesmoke, rgb(109, 108, 108), rgb(48, 47, 47)) ;
    border-radius: 20px;
}


.signup{
  text-align: center;
  padding-top: 1.5rem;
}

.sp{
    width: 80%;
    font-size: 10px;
    margin-left: 10%;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#fom{
    width: 80%;
   margin: 10%;
}

.pl{
    font-size: 12px;
}

#name{
    width: 100%;
    font-size: 10px;
    height: 1.8rem;
    border: none;
    border-radius: 5px;
}

#email{
    width: 100%;
    font-size: 10px;
    height: 1.8rem;
    border: none;
    border-radius: 5px;
}

#but{
    width: 100%;
    font-size: 12px;
    height: 1.8rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px; 
    margin-top: 2rem;
}

#but:hover{
font-size: 15px;
height: 2rem;
}

#su{
    font-size: 10px;
    margin-top: 1rem;
}
}


